**Import Module**

In [34]:
import cashier

**Inisiasi object pada kelas Transaction**

In [35]:
trnsct_123 = cashier.Transaction()

**Test 1**
<br>
Customer ingin <u>menambahkan</u> dua item baru menggunakan method _**add_item()**_. Item yang ditambahkan sebagai berikut :
- Nama Item: Ayam Goreng, Qty: 2, Harga: 20000
- Nama Item: Pasta Gigi, Qty: 3, Harga: 15000

In [36]:
trnsct_123.add_item("Ayam Goreng", 2, 20000)
trnsct_123.add_item("Pasta Gigi", 3, 15000)

In [37]:
trnsct_123.show_order()

Berikut daftar pesanan Anda

|   No. | Nama Item   |   Jumlah Item |   Harga per Item |   Total Harga |
|-------|-------------|---------------|------------------|---------------|
|     1 | Ayam Goreng |             2 |            20000 |         40000 |
|     2 | Pasta Gigi  |             3 |            15000 |         45000 |

**Test 2**
<br>
Customer salah membeli item dari belanjaan yang sudah ditambahkan, 
<br>maka Customer menggunakan method _**delete_item()**_ untuk <u>menghapus item</u>. 
<br>
Item yang dihapus adalah Pasta Gigi.

In [38]:
trnsct_123.delete_item("Pasta Gigi")

Pasta Gigi berhasil dihapus dari daftar pesanan

In [39]:
trnsct_123.show_order()

Berikut daftar pesanan Anda

|   No. | Nama Item   |   Jumlah Item |   Harga per Item |   Total Harga |
|-------|-------------|---------------|------------------|---------------|
|     1 | Ayam Goreng |             2 |            20000 |         40000 |

Customer menambahkan item baru :
- Nama Item: Gula Pasir, Qty: 3, Harga: 10000
- Nama Item: Shampo , Qty: 2, Harga: 13000

In [40]:
trnsct_123.add_item("Gula Pasir", 3, 10000)
trnsct_123.add_item("Shampo", 2, 13000)

In [41]:
trnsct_123.show_order()

Berikut daftar pesanan Anda

|   No. | Nama Item   |   Jumlah Item |   Harga per Item |   Total Harga |
|-------|-------------|---------------|------------------|---------------|
|     1 | Ayam Goreng |             2 |            20000 |         40000 |
|     2 | Gula Pasir  |             3 |            10000 |         30000 |
|     3 | Shampo      |             2 |            13000 |         26000 |

Customer salah memasukkan nama item.
<br>
<u>Ubah nama item</u> Gula Pasir menjadi Gula Merah menggunakan method _**update_item_name()**_.

In [42]:
trnsct_123.update_item_name("Gula Pasir", "Gula Merah")

In [43]:
trnsct_123.show_order()

Berikut daftar pesanan Anda

|   No. | Nama Item   |   Jumlah Item |   Harga per Item |   Total Harga |
|-------|-------------|---------------|------------------|---------------|
|     1 | Ayam Goreng |             2 |            20000 |         40000 |
|     2 | Shampo      |             2 |            13000 |         26000 |
|     3 | Gula Merah  |             3 |            10000 |         30000 |

Customer salah memasukkan jumlah item.
<br>
<u>Ubah jumlah item</u> Ayam Goreng yang awalnya 2 menjadi 4 menggunakan method _**update_item_qty**_.

In [44]:
trnsct_123.update_item_qty("Ayam Goreng", 4)

In [45]:
trnsct_123.show_order()

Berikut daftar pesanan Anda

|   No. | Nama Item   |   Jumlah Item |   Harga per Item |   Total Harga |
|-------|-------------|---------------|------------------|---------------|
|     1 | Ayam Goreng |             4 |            20000 |         80000 |
|     2 | Shampo      |             2 |            13000 |         26000 |
|     3 | Gula Merah  |             3 |            10000 |         30000 |

Customer salah memasukkan harga item.
<br>
<u>Ubah harga item</u> Shampo yang awalnya 13000 menjadi 9000 menggunakan method _**update_item_price**_.

In [46]:
trnsct_123.update_item_price("Shampo", 9000)

In [47]:
trnsct_123.show_order()

Berikut daftar pesanan Anda

|   No. | Nama Item   |   Jumlah Item |   Harga per Item |   Total Harga |
|-------|-------------|---------------|------------------|---------------|
|     1 | Ayam Goreng |             4 |            20000 |         80000 |
|     2 | Shampo      |             2 |             9000 |         18000 |
|     3 | Gula Merah  |             3 |            10000 |         30000 |

**Test 3**
<br>
Customer salah memasukkan semua item yang ingin dibelanjakan.Daripada menghapus satu-satu,
<br>
maka Customer menggunakan method _**reset_transaction()**_ untuk <u>menghapus semua item yang sudah ditambahakan</u>.

In [48]:
trnsct_123.reset_transaction()

Semua item berhasil dihapus.
Anda tidak memiliki daftar pesanan.

In [49]:
trnsct_123.show_order()

Berikut daftar pesanan Anda

| No.   | Nama Item   | Jumlah Item   | Harga per Item   | Total Harga   |
|-------|-------------|---------------|------------------|---------------|

Customer menambahkan item baru :
- Nama Item: Ayam Goreng, Qty: 2, Harga: 20000
- Nama Item: Pasta Gigi, Qty: 3, Harga: 15000
- Nama Item: Mainan Mobil, Qty: 1, Harga: 200000
- Nama Item: Mie Instan, Qty: 5, Harga: 3000

In [50]:
trnsct_123.add_item("Ayam Goreng", 2, 20000)
trnsct_123.add_item("Pasta Gigi", 3, 15000)
trnsct_123.add_item("Mainan Mobil", 1, 200000)
trnsct_123.add_item("Mie Instan", 5, 3000)

In [51]:
trnsct_123.show_order()

Berikut daftar pesanan Anda

|   No. | Nama Item    |   Jumlah Item |   Harga per Item |   Total Harga |
|-------|--------------|---------------|------------------|---------------|
|     1 | Ayam Goreng  |             2 |            20000 |         40000 |
|     2 | Pasta Gigi   |             3 |            15000 |         45000 |
|     3 | Mainan Mobil |             1 |           200000 |        200000 |
|     4 | Mie Instan   |             5 |             3000 |         15000 |

Setelah selesai memasukkan seluruh pesanan, Customer ragu terhadap data yang ditambahkan.
<br>
Dapat dilakukan <u>pengecekan data pesanan</u> menggunakan _**check_order()**_.

In [52]:
trnsct_123.show_order()

Berikut daftar pesanan Anda

|   No. | Nama Item    |   Jumlah Item |   Harga per Item |   Total Harga |
|-------|--------------|---------------|------------------|---------------|
|     1 | Ayam Goreng  |             2 |            20000 |         40000 |
|     2 | Pasta Gigi   |             3 |            15000 |         45000 |
|     3 | Mainan Mobil |             1 |           200000 |        200000 |
|     4 | Mie Instan   |             5 |             3000 |         15000 |

In [53]:
trnsct_123.check_order()

'Data pesanan yang diinputkan sudah benar'

**Test 4**
<br>
Customer sudah selesai berbelanja, hitung <u>total belanjaan</u> yang harus dibayarkan menggukanakan method _**total_price()**_.
<br>
Sebelum mengelurkan output total belanja, tampilkan item-item yang dibeli.

In [54]:
trnsct_123.show_order()

Berikut daftar pesanan Anda

|   No. | Nama Item    |   Jumlah Item |   Harga per Item |   Total Harga |
|-------|--------------|---------------|------------------|---------------|
|     1 | Ayam Goreng  |             2 |            20000 |         40000 |
|     2 | Pasta Gigi   |             3 |            15000 |         45000 |
|     3 | Mainan Mobil |             1 |           200000 |        200000 |
|     4 | Mie Instan   |             5 |             3000 |         15000 |

In [55]:
trnsct_123.total_price()

Selamat Anda memdapatkan diskon sebesar 5% karena berbelanja lebih dari Rp 200.000
Total belanja yang harus dibayarkan setelah diskon sebesar 285000.0